@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Inter:wght@200;400;600;700;900&family=Playfair+Display:wght@400;700;900&display=swap");

body,
html,
* {
  font-family: "Inter", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: #2f2e2e;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
}

section.container {
  max-width: 1340px;
}
